<!DOCTYPE html>
<html id="@ViewBag.PageId" class="@Settings.CurrentTheme">
<head>
	<title>  ETOMARS MANAGER </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    @Styles.Render("~/content/smartadmin")

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/content/img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

</head>
<body class="@ViewBag.PageClass @Settings.CurrentTheme">
    @{ Html.RenderPartial("_Header", RenderSection("topright", false)); }
    @{ Html.RenderPartialIf("_Aside", Request.IsAuthenticated); }


    <div id="main" role="main">
		@Html.Partial("_Ribbon")
        @RenderBody()
    </div>
	@{ Html.RenderPartialIf("_Footer", Request.IsAuthenticated); }
    @{ Html.RenderPartial("_Scripts", RenderSection("pagespecific", false)); }





	@if (ViewBag.PublicMsg != null)
	{
		<!--KMS 추가  -모든 페이지 공통으로 사용 되는 ALERT MSG 스크립트-->
		<script type="text/javascript">
			alert("@ViewBag.PublicMsg");
		</script>
	}



	@if (TempData["PublicMsg"] != null)
	{
		<!--KMS 추가  -모든 페이지 공통으로 사용 되는 ALERT MSG 스크립트-->
		<script type="text/javascript">
			alert('@TempData["PublicMsg"]');
		</script>
	}
	


	<script type="text/javascript">
		//iframe 에서 작업 성공 시 해당 페이지 새로고침 
		//해당 기능을 사용 하는 폼의 경우 폼 ID 가 반드시 listForm 으로 선언되어야 함
		function listReload() {
			$('#listForm').submit();
		}
	</script>
	

</body>

</html>