@{
    ViewBag.PageId = "extr-page";
}

@section topright{
    <span id="extr-page-header-space"> <span class="hidden-mobile">@comm_global.Language.Resources.ESE_ForGotPassword_AlreadyRegistered</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">@comm_global.Language.Resources.ESE_ForGotPassword_SignIn</a> </span>
}

<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                <form action="@Url.Action("forgotpassword", "account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                       @comm_global.Language.Resources.ESE_ForGotPassword_Resetpassword
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">@comm_global.Language.Resources.ESE_ForGotPassword_Email</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="email">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @comm_global.Language.Resources.ESE_ForGotPassword_PleaseEnterTheEmailAddr</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("login", "account")"><i class="fa fa-smile-o"></i> @comm_global.Language.Resources.ESE_ForGotPassword_IRememberMyPassword</a>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-envelope"></i> 
                           @comm_global.Language.Resources.ESE_ForGotPassword_SendEmail
                        </button>
                    </footer>
                </form>
            </div>
            @{ Html.RenderPartial("_SocialMedia"); }
        </div>
    </div>
</div>
@section pagespecific{
    <script type="text/javascript">
        $(function () {
            // Validation
            $("#login-form").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },

                // Messages for form validation
                messages: {
                    email: {
                    	required: @comm_global.Language.Resources.Script_emailRequired,
                    	email:@comm_global.Language.Resources.Script_emailValid,
                    },
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}