@model web_ese.Models_Act.Stoc.StocInOutModels
<div id="content">


	<!--조회-->
	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>@comm_global.Language.Resources.ESE_Comm_Search </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">

							@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "listForm", @name = "listForm", @class = "smart-form" }))
							{
								<fieldset>
										@Html.HiddenFor(model => model.act_type)
										@Html.HiddenFor(model => model.act_key)
										@Html.HiddenFor(model => model.sortKey)
										@Html.HiddenFor(model => model.Paging.page)
										@Html.HiddenFor(model => model.Paging.pageNum)
										@Html.HiddenFor(model => model.Paging.pageTotNum)


									<div class="row">
										<label class="label col col-1">@comm_global.Language.Resources.ESE_Comm_Category</label>
										<section class="col col-2">
											<label class="select">
												@Html.DropDownList("cate1", new SelectList(Model.cateList1, "opt_key", "opt_value", Model.cate1), "선택", new { onchange = "javascript:callCate('2', this.value);" })<i></i>
											</label>
										</section>
										<section class="col col-2">
											<label class="select">
												@Html.DropDownList("cate2", new SelectList(Model.cateList2, "opt_key", "opt_value", Model.cate2), "========", new { onchange = "javascript:callCate('3', this.value);" })<i></i>
											</label>
										</section>
										<section class="col col-2">
											<label class="select">
												@Html.DropDownList("cate3", new SelectList(Model.cateList3, "opt_key", "opt_value", Model.cate3), "========", new { onchange = "javascript:callCate('4', this.value);" })<i></i>
											</label>
										</section>
										<section class="col col-2">
											<label class="select">
												@Html.DropDownList("cate4", new SelectList(Model.cateList4, "opt_key", "opt_value", Model.cate4), "========")<i></i>
											</label>
										</section>

										<label class="label col col-1">@comm_global.Language.Resources.ESE_Comm_STATUS</label>
										<section class="col col-2">
											<label class="select">
												@Html.DropDownList("schStat", new SelectList(Model.schTypeArray, "opt_key", "opt_value", Model.schStat), "선택")<i></i>
											</label>
										</section>
									</div>

									<div class="row">

										<label class="label col col-1">@comm_global.Language.Resources.ESE_Comm_SearchCondition</label>
										<section class="col col-2">
											<label class="select">
												@Html.DropDownList("schTypeTxt", new SelectList(Model.schTypeTxtArray, "opt_key", "opt_value"), "선택") <i></i>
											</label>
										</section>
										<section class="col col-4">
											<label for="address2" class="input">
												@Html.TextBoxFor(model => model.schTxt2, new { placeholder = "검색어" })
											</label>
										</section>


										<label class="label col col-1">@comm_global.Language.Resources.ESE_StocInOut_InOutDate</label>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												@Html.TextBoxFor(model => model.schSdt, new { @id = "schSdt", @placeholder = "Expected start date" })
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												@Html.TextBoxFor(model => model.schEdt, new { @id = "schEdt", @placeholder = "Expected end date" })
											</label>

										</section>

									</div>


									<div class="row">
										<label class="label col col-1">@comm_global.Language.Resources.ESE_Comm_NATION</label>
										<section class="col col-3">
											<label class="select">
												@Html.DropDownList("schNation", new SelectList(Model.arraySNation, "opt_key", "opt_value"), "전체", new { onchange = "javascript:callStation(this.value);" }) <i></i>
											</label>
										</section>
										<label class="label col col-1">@comm_global.Language.Resources.ESE_Comm_StocReqInfoStation</label>
										<section class="col col-3">
											<label class="select">
												@Html.DropDownList("schStation", new SelectList(Model.arrayStation, "opt_key", "opt_value"), "=============") <i></i>
											</label>
										</section>
										<label class="label col col-1">@comm_global.Language.Resources.ESE_Comm_Brand</label>
										<section class="col col-3">
											<label for="address2" class="input">
												@Html.TextBoxFor(model => model.schTxt, new { placeholder = @comm_global.Language.Resources.ESE_Comm_SearchBrandPlaceHolder })
											</label>
										</section>
									</div>




								</fieldset>

								<footer>
									<button type="button" class="btn btn-primary" onclick="javascript: searchAll();">
										@comm_global.Language.Resources.Button_SearchAll
									</button>

									<button type="button" class="btn btn-primary" onclick="javascript: searchAct();">
										@comm_global.Language.Resources.Button_SearchAct
									</button>
								</footer>
							}

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>
	
	<!--정렬-->
	<div class="row">
		<article class="col-sm-12">

			<label style="float:right;" class="select">
				@Html.DropDownList("pageNum", new SelectList(Model.pageNumArray, "opt_key", "opt_value", Model.Paging.pageNum), new { onchange = "javascript:setPageNum(this.value)" }) <i></i>
			</label>
			<label style="float:right;" class="select">
				@Html.DropDownList("sortKey", new SelectList(Model.sortKeyArray, "opt_key", "opt_value", Model.sortKey), new { onchange = "javascript:sortKey(this.value)" }) <i></i>
			</label>
			<label style="float:right;">@comm_global.Language.Resources.ESE_Comm_Sort</label>

		</article>
	</div>


	<!--입출고 내역 조회 결과-->
	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>@comm_global.Language.Resources.ESE_StocList_StockInOutSearchResult</h2>
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>@comm_global.Language.Resources.ESE_Comm_Num</th>
											<th>@comm_global.Language.Resources.ESE_Comm_NATION</th>
											<th>@comm_global.Language.Resources.ESE_Comm_StocReqInfoStation</th>
											<th>@comm_global.Language.Resources.ESE_Comm_Category</th>
											<th>@comm_global.Language.Resources.ESE_Comm_Barcord</th>
											<th>@comm_global.Language.Resources.ESE_ProdAdd_SKU</th>
											<th>@comm_global.Language.Resources.ESE_Comm_PRODUCT_NAME</th>
											<th>@comm_global.Language.Resources.ESE_Comm_Brand</th>
											<th>@comm_global.Language.Resources.ESE_Comm_STATUS</th>
											<th style="width:5%;">@comm_global.Language.Resources.ESE_Comm_SelectProdNum</th>
											<th style="width:12%;">@comm_global.Language.Resources.ESE_StocList_InOutViewDays</th>
										</tr>
									</thead>
									<tbody>

										@foreach (var item in Model.Items)
										{
											<tr>
												<td>@(Model.Paging.startCnt--)</td> <!--번호-->
												<td>@item.NATION_NAME</td>
												<td>@item.EST_NAME</td>
												<td>@item.CATE_NAME</td>
												<td>@item.BARCODE</td>
												<td>@item.SKU</td>
												<td>@item.GOODS_NAME</td>
												<td>@item.BRAND</td>
												<td>@item.STAT_TXT</td>
												<td>@item.CNT</td>
												<td>@item.REG_DT</td>
											</tr>
										}

									</tbody>
									<tfoot>
										<tr>
											<td colspan="4">
												Total : @Model.Paging.totCnt
											</td>
										</tr>
									</tfoot>

								</table>

							</div>
						</div>
					</div>
				</div>
				@Html.Raw(ViewData["pageing"])

			</article>
		</div>
	</section>



</div>



@section pagespecific {


	<script type="text/javascript">

		function callCate(depth, parent) {

			if (parent == "") {
				for (i = depth; i < 5; i++) {
					$('#cate' + i).empty();
					var option = $("<option value='0'>========</option>");
					$('#cate' + i).append(option);
				}
			}

			$.ajax({
				type: "POST",
				url: '/Prod/GetCategory',
				datatype: "json",
				data: {
					depth: depth,
					parent: parent
				},
				success: function (data) {
					$('#cate' + depth).empty();
					if (data.length >= 1) {
						var option = $("<option value=''>@comm_global.Language.Resources.Script_ProdAdd_CallCateChoose</option>");
						$('#cate' + depth).append(option);
						for (var i = 0; i < data.length; i++) {
							var option = $("<option value='" + data[i].opt_key + "'>" + data[i].opt_value + "</option>");
							$('#cate' + depth).append(option);
						}
					} else {
						var option = $("<option value=''>@comm_global.Language.Resources.Script_NoData</option>");
						$('#cate' + depth).append(option);
					}
				}
			});
		}

		function callStation(val) {
			var defaultStation = '';
			$.ajax({
				type: "POST",
				url: '/Ets/EtsReqChkStation',
				datatype: "json",
				data: {
					AjaxNationCode: val
				},
				success: function (data) {
					$('#schStation').empty();
					var option = $("<option value=''>@comm_global.Language.Resources.Script_ProdAdd_CallCateChoose</option>");
					$('#schStation').append(option);
					if (data.length >= 1) {
						for (var i = 0; i < data.length; i++) {
							var option = $("<option value='" + data[i].opt_key + "'>" + data[i].opt_value + "</option>");
							$('#schStation').append(option);

						}
					} else {
						$('#schStation').empty();
						var option = $("<option value=''>=============</option>");
						$('#schStation').append(option);
					}
				}
			});
		}

		//데이터 피커 생성자
		$(function() {
    		$("#schSdt, #schEdt").datepicker({
				dateFormat: 'yy-mm-dd'
			});
		});

		//조회
		function searchAct() {
			$("#Paging_page").val('1');
			$("#listForm").submit();
		}

		//전체조회
		function searchAll() {
			$("#schType").val('');
			$("#schSdt").val('');
			$("#schEdt").val('');
			$("#schTypeTxt").val('');
			$("#schTxt").val('');
			$("#schTxt2").val('');
			$("#cate1").val('');
			$("#cate2").val('');
			$("#cate3").val('');
			$("#cate4").val('');
			$("#schNation").val('');
			$("#schStation").val('');
			$("#Paging_page").val('1');

			$("#listForm").submit();
		}


		// 정렬 페이지 수 기준
		function setPageNum(val) {
			$('#Paging_page').val('1');
			$('#Paging_pageNum').val(val);
			$('#listForm').submit();
		}


		//정렬 항목 기준 
		function sortKey(val) {
			$('#Paging_page').val('1');
			$('#sortKey').val(val);
			$('#listForm').submit();
		}





		//페이징 공통 함수
		function movPage(page) {
			$('#Paging_page').val(page);
			$('#listForm').submit();
		}
	</script>


}