@model web_esm.Models_Act.Setting.SettingEmailModels


<div id="content">


    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                <div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-search"></i> </span>
                        <h2>메일서버 설정</h2>
                    </header>
                    <div role="content">
                        <div class="widget-body no-padding">
							@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form1", @name = "form1", @class = "smart-form" }))
							{
								@Html.AntiForgeryToken()
                                <fieldset>
									<!--SMTP 서버명-->
									<div class="row">
										<label class="label col col-2">SMTP 서버명</label>
										<section class="col col-10">
											<label for="address2" class="input">
												@Html.TextBoxFor(model => model.emaile_sender_server)
												@Html.ValidationMessageFor(model => model.emaile_sender_server)	
											</label>
										</section>
									</div>
									<!--SMTP 포트번호-->
									<div class="row">
										<label class="label col col-2">SMTP 포트번호</label>
										<section class="col col-10">
											<label for="address2" class="input">
												@Html.TextBoxFor(model => model.emaile_sender_port)
												@Html.ValidationMessageFor(model => model.emaile_sender_port)									
											</label>
										</section>
									</div>
									<!--ID-->
									<div class="row">
										<label class="label col col-2">ID</label>
										<section class="col col-10">
											<label for="address2" class="input">
											@Html.TextBoxFor(model => model.emaile_sender_id)
												@Html.ValidationMessageFor(model => model.emaile_sender_id)
											</label>
										</section>
									</div>										
										<!--PASSWORD-->
									<div class="row">
										<label class="label col col-2">PASSWORD</label>
										<section class="col col-10">
											<label for="address2" class="input">
												@Html.TextBoxFor(model => model.emaile_sender_pw)
												@Html.ValidationMessageFor(model => model.emaile_sender_pw)
											</label>
										</section>
									</div>		
										<!--보내는 사람 E-MAIL-->
									<div class="row">
										<label class="label col col-2">보내는 사람 E-MAIL</label>
										<section class="col col-10">
											<label for="address2" class="input">
												@Html.TextBoxFor(model => model.emaile_sender_email)
												@Html.ValidationMessageFor(model => model.emaile_sender_email)
											</label>
										</section>
									</div>
										
										<!--보내는 사람 이름-->
									<div class="row">
										<label class="label col col-2">보내는 사람 이름</label>
										<section class="col col-10">
											<label for="address2" class="input">
												@Html.TextBoxFor(model => model.emaile_sender_name)
												@Html.ValidationMessageFor(model => model.emaile_sender_name)
											</label>
										</section>
									</div>
                                </fieldset>

                                <footer>
                                    <button type="submit" class="btn btn-primary" style="float:left;">
                                        메일보내기 테스트
                                    </button>

                                    <!--<button type="submit" class="btn btn-primary" onclick="submit()">-->
									<button onclick="javascript:act_ifarame();" type="submit" class="btn btn-primary" >
                                        저장
                                    </button>
                                </footer>
							}

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

</div>


@section pagespecific {
		
	<script type="text/javascript">
		// 등록/수정
		function act_ifarame() {
			var ifra = document.getElementById('viewIframe').contentWindow;
			ifra.formSubmit();
		}
    </script>

}
