<!DOCTYPE html>
<html lang="en-us" style="background-color:white">
<head>
	<meta charset="utf-8">
	<title> ETOMARS </title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- #CSS Links -->
	<!-- Basic Styles -->


	<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/bootstrap.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/font-awesome.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/smartadmin-production-plugins.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/smartadmin-production.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/smartadmin-skins.min.css")">
	<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/your_style.css")">

	<link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/smartadmin-rtl.min.css")">
	<!-- #FAVICONS -->
	<link rel="shortcut icon" href="/img/favicon/etomars_favicon.ico" type="image/x-icon">
	<link rel="icon" href="/img/favicon/etomars_favicon.icoo" type="image/x-icon">


	<!-- #APP SCREEN / ICONS -->
	<link rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">

	<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="@Url.Content("~/img/splash/ipad-landscape.png")" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
	<link rel="apple-touch-startup-image" href="@Url.Content("~/img/splash/ipad-portrait.png")" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
	<link rel="apple-touch-startup-image" href="@Url.Content("~/img/splash/iphone.png")" media="screen and (max-device-width: 320px)">

</head>

<!-- #BODY -->
<body class="smart-style-6" style="background-color:white;">

	<!-- #HEADER -->
	<header id="header">
		@Html.Partial("_Header")
	</header>
	<!-- END HEADER -->
	<!-- END NAVIGATION -->
	<!-- #MAIN PANEL -->
	<div id="main" role="main">
		@RenderBody()
	</div>
	<!-- END #MAIN PANEL -->


	<script src="@Url.Content("~/Scripts/js/libs/jquery-2.1.1.min.js")"></script>
	<script src="@Url.Content("~/Scripts/js/libs/jquery-ui-1.10.3.min.js")"></script>
	<script src="@Url.Content("~/Scripts/js/app.config.seed.js")"></script>
	<script src="@Url.Content("~/Scripts/js/bootstrap/bootstrap.min.js")"></script>
	<script src="@Url.Content("~/Scripts/js/app.seed.js")"></script>

</body>

</html>