@model web_esm.Models_Act.Esm.EsmLoginHisModels
<div id="content">



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>조회 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "listForm", @name = "listForm", @class = "smart-form" }))
							{
								<fieldset>
									@Html.HiddenFor(model => model.act_type)
									@Html.HiddenFor(model => model.act_key)
									@Html.HiddenFor(model => model.sortKey)
									@Html.HiddenFor(model => model.Paging.page)
									@Html.HiddenFor(model => model.Paging.pageNum)
									@Html.HiddenFor(model => model.Paging.pageTotNum)


									<div class="row">
										<label class="label col col-2">관리자 ID</label>
										<section class="col col-4">
											<label class="select">
												@Html.DropDownList("schType", new SelectList(Model.schTypeArray, "opt_value", "opt_key"), "전체", new { onchange = "this.form.submit()" })
												<i></i>
											</label>
										</section>

										<label class="label col col-1">&nbsp;</label>

										<label class="label col col-1">작업일자</label>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												@Html.TextBoxFor(model => model.schSdt, new { @id = "schSdt", @placeholder = "Expected start date" })
											</label>
										</section>
										<section class="col col-2">
											<label class="input">
												<i class="icon-append fa fa-calendar"></i>
												@Html.TextBoxFor(model => model.schEdt, new { @id = "schEdt", @placeholder = "Expected end date" })
											</label>
										</section>

									</div>
								</fieldset>

								<footer>
									<button type="submit" class="btn btn-primary">
										전체 조회
									</button>

									<button type="submit" class="btn btn-primary">
										조회
									</button>
								</footer>
							}

						</div>
					</div>
				</div>
			</article>
		</div>
	</section>

	<!--정렬부분-->
	<div class="row">
		<article class="col-sm-12">

			<label style="float:right;" class="select">
				<label style="float:right;" class="select">
					@Html.DropDownList("pageNum", new SelectList(Model.pageNumArray, "opt_key", "opt_value", Model.Paging.pageNum), new { onchange = "javascript:setPageNum(this.value)" }) <i></i>
				</label>
			</label>

		</article>
	</div>



	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>로그인 이력 조회 결과</h2>
					</header>

					<div role="content">
						<div class="widget-body no-padding">


							<div class="table-responsive">

								<table class="table table-bordered table-striped">
									<thead>
										<tr>		
											<th style="width:5%;">번호</th>
											<th style="width:15%;">STATIO</th>
											<th style="width:15%;">SENDER</th>
											<th style="width:auto;">ID</th>
											<th style="width:18%;">로그인 시간</th>
											<th style="width:12%;">로그인 IP</th>
											<th style="width:12%;">입력구분</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in Model.Items)
										{
											<tr>
												<td>@item.SEQNO</td> <!--번호-->
												<td>@item.EST_CODE</td><!--STATIO-->
												<td>@item.ESE_CODE </td><!--SENDER-->
												<td>@item.EMAIL</td><!--ID-->
												<td>@item.LOGDATETIME</td><!--로그인 시간-->
												<td>@item.IPADDR</td><!--로그인 IP-->
												<td>@item.TYPE</td><!--입력구분-->
											</tr>
										}
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
				@Html.Raw(ViewData["pageing"])

			</article>
		</div>
	</section>
</div>

@section pagespecific {


	<script type="text/javascript">

		// 정렬 페이지 수 기준
		function setPageNum(val) {
			$('#Paging_page').val('1');
			$('#Paging_pageNum').val(val);
			$('#listForm').submit();
		}


		//데이터 피커 생성자
		$(function() {
    		$("#schSdt, #schEdt").datepicker({
				dateFormat: 'yy-mm-dd'
			});
		});

		//조회
		function searchAct() {
			$("#Paging_page").val('1');
			$("#listForm").submit();
		}

		//전체조회
		function searchAll() {
			$("#schType").val('');
			$("#schSdt").val('');
			$("#schEdt").val('');
			$("#Paging_page").val('1');

			$("#listForm").submit();
		}
		
		//페이징 공통 함수
		function movPage(page) {
			$('#Paging_page').val(page);
			$('#listForm').submit();
		}
	</script>


}