@model ConfAirportListModels





<!-- RIBBON -->
<div id="ribbon">
    <div style="padding-top:10px;"></div>
    <span style="color:white; font-size:14px;">
        <i class="fa fa-gear"></i> 환경설정 / 기본정보 / 공항코드
    </span>
</div>
<!-- END RIBBON -->

<div id="content">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form1", @name = "form1", @class = "form-horizontal", onsubmit = "return validation_check();" }))
    {
        <section id="normal-grid" class="">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget jarviswidget-color-blueDark horizonScroll" id="wid-id-0" data-widget-editbutton="false" data-widget-fullscreenbutton="true" style="margin-bottom: 0;">

                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>전체 목록</h2>
                        </header>

                        <div class="panel panel-info" style="padding: 0;">
                            @if (Model != null && Model.Items.Count > 0)
                            {
                                <div class="panel-body">
                                    <ul class="nav navbar-nav navbar-left">
                                        <li>@string.Format("{1} 페이지 중 {0} 페이지 (전체 : {2}개)", Model.Pager.CurrentPage, Model.Pager.TotalPages, Model.Pager.TotalItems)</li>
                                    </ul>

                                    <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
                                        <li>한 페이지에 보여줄 갯수 : </li>
                                        <li>
                                            <select id="items_per_page" name="items_per_page" style="margin-left:10px;" onchange="javascript:pagesize_change();">
                                                @foreach (var item in ViewData["ITEMS_PER_PAGE_LIST"] as List<string>)
                                                {
                                                    <option value="@item" @if (ViewData["ITEMS_PER_PAGE"].ToString().Trim() == item) { ViewContext.Writer.Write("selected=\"selected\""); }>@item</option>
                                                }
                                            </select>
                                        </li>
                                    </ul>
                                </div>
                            }

                            <div id="search_result_div" class="wrap table-responsive" style="overflow:auto; width:100%; height:100%; max-height:100%">
                                <table id="search_result_table" class="table table-bordered table-hover" style="margin-bottom: 0px;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">번호</th>
                                            <th style="text-align:center;">국가코드</th>
                                            <th style="text-align:center;">국가명</th>
                                            <th style="text-align:center;">공항코드</th>
                                            <th style="text-align:center;">공항이름</th>
                                            <th style="text-align:center;">공항위치</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model != null && Model.Items.Count() > 0)
                                        {
                                            int cnt = (Model.Pager.CurrentPage - 1) * Model.Pager.PageSize + 1;
                                            foreach (var item in Model.Items)
                                            {
                                                <tr>
                                                    <td align="center">@(cnt++)</td>
                                                    <td align="center">@item.NATION_CODE</td>
                                                    <td align="left">@item.NATION_NAME</td>
                                                    <td align="center">@item.AIRPORT_CODE</td>
                                                    <td align="left">@item.AIRPORT_NAME</td>
                                                    <td align="left">@item.AIRPORT_LOCATION</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="6" align="left">데이터가 없습니다.</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--페이징-->
                        @if (Model != null && Model.Items.Count > 0)
                        {
                            <table class="table" style="border: none; margin: 0; padding: 0; width: 100%;">
                                <tr style="border: none; margin: 0; padding: 0;">
                                    <td align="center" style="border: none; margin: 0; padding: 10px 10px 0px 10px;">
                                        <!--nav aria-label="Page navigation"-->
                                        <ul class="pagination" style="margin: 0; padding: 0; font-size: 13px;">

                                            @if (Model.Pager.CurrentPage > 1)
                                            {
                                                <li><a href="javascript:page_change('1');">◀◀</a></li>
                                                <li><a href="javascript:page_change('@(Model.Pager.CurrentPage - 1)');">◀</a></li>
                                            }

                                            @for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                            {
                                                <li @if (page == Model.Pager.CurrentPage) { ViewContext.Writer.Write("class=\"active\""); }><a href="javascript:page_change('@page');">@page</a></li>
                                            }

                                            @if (Model.Pager.CurrentPage < Model.Pager.EndPage)
                                            {
                                                <li><a href="javascript:page_change('@(Model.Pager.CurrentPage + 1)');">▶</a></li>
                                                <li><a href="javascript:page_change('@Model.Pager.TotalPages');">▶▶</a></li>
                                            }

                                        </ul>
                                        <!--/nav-->
                                    </td>
                                </tr>
                            </table>
                        }

                    </div>
                </article>
            </div>
        </section>
    }
</div>





<script type="text/javascript">

    @* 검색결과 테이블이 화면에 최대한 꽉차게 보이도록 설정한다 *@
    function AdjustSize() {
        var height = document.documentElement.clientHeight;
        @*document.getElementById("search_result_div").style.height = (height - 150) + "px";*@
        document.getElementById("search_result_div").style.maxHeight = (height - 150) + "px";
    }

    $(document).ready(function () {
        @* 검색결과 테이블이 화면에 최대한 꽉차게 보이도록 설정한다 *@
        @if (Model != null && Model.Items.Count() > 0)
        {
            ViewContext.Writer.Write("AdjustSize();");
        }
    })

    $(window).resize(function () {
        @* 검색결과 테이블이 화면에 최대한 꽉차게 보이도록 설정한다 *@
        AdjustSize();
    })

    function validation_check() {
        $('#loading').show();
        return true;
    }

    @* 한페이지크기 변경 *@
    function pagesize_change() {
        var ret = validation_check();
        if (!ret) {
            return false;
        }

        document.getElementById("form1").submit();
        return true;
    }

    @* 페이지번호 변경 *@
    function page_change(pageVal) {
        var ret = validation_check();
        if (!ret) {
            return false;
        }

        $('#form1').append('<input type="hidden" name="search_page" value="' + pageVal + '" />');
        document.getElementById("form1").submit();
        return true;
    }

</script>
