@model web_esm.Models_Act.Base.BaseNationModels

<div id="content" style="max-width:1000px;">

	<section id="widget-grid" class="">
		<div class="row">
			<article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
				<div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" id="wid-id-1" data-widget-editbutton="false" role="widget">
					<header role="heading">
						<div class="jarviswidget-ctrls" role="menu">
							<a onclick="javascript:callAdd();" href="#" class="button-icon" data-toggle="modal" data-target="#myModal">
								<i class="fa fa-plus"></i>
							</a>
						</div>
						<span class="widget-icon"> <i class="fa fa-table"></i> </span>
						<h2>배송가능 국가 관리</h2>
						<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
					</header>

					<div role="content">
						<div class="widget-body no-padding">
							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width:8%;"></th>
											<th style="width:auto;">국가명(한글)</th>
											<th style="width:10%;">국가코드</th>
											<th style="width:10%;">무게단위</th>
											<th style="width:10%;">화폐단위</th>
										</tr>
									</thead>
									<tbody>
										@for(int i=0; i<Model.Items.Count; i++) { 
										<tr>
											<td>
												<a onclick="javascript:callEdit('@Model.Items[i].SEQNO');" href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
													<i class="fa fa-edit"></i>
												</a>
												<a onclick="javascript: callDelete('@Model.Items[i].SEQNO');" href="#" class="btn btn-default btn-xs">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
											<td>@Model.Items[i].NATION_NAME</td>
											<td>@Model.Items[i].NATION_CODE</td>
											<td>@Model.Items[i].WEIGHT_UNIT</td>
											<td>@Model.Items[i].CURRENCY_UNIT</td>
										</tr>
										}
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>

			</article>
		</div>
	</section>
	@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "listForm", @name = "listForm", @class = "smart-form" }))
	{
		@Html.HiddenFor(model => model.act_type)
		@Html.HiddenFor(model => model.act_key)
	}

</div>


<!--modal Part-->
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">	
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h4 class="modal-title" id="myModalLabel">배송가능 국가 관리 상세</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<iframe width="100%" height="290px;" scrolling="no" frameborder="0" id="viewIframe" src="/Base/BaseNationView"></iframe>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button onclick="javascript:act_ifarame();" id="modal_act" type="button" class="btn btn-default">
					등록
				</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">
					닫기
				</button>
			</div>


		</div>
	</div>
</div>

@section pagespecific{
	<script type="text/javascript">
		// 등록/수정
		function act_ifarame() {
			var ifra = document.getElementById('viewIframe').contentWindow;
			ifra.formSubmit();
		}


		//삭제
		function callDelete(seqno) {
			var msg = "삭제하시겠습니까?";
			if (confirm(msg)) {
				$('#act_type').val('del');
				$('#act_key').val(seqno);
				$('#listForm').submit();
			}
		}

		//등록 팝업창 호출
		function callAdd() {
			$("#modal_act").html('등록');
			$('#viewIframe').attr('src', '/Base/BaseNationView');
		}

		//수정 팝업창 호출
		function callEdit(seqno) {
			$("#modal_act").html('수정');
			$('#viewIframe').attr('src', '/Base/BaseNationView?seqNo=' + seqno);
		}

	</script>

}
