@model web_esm.Models_Act.Base.BaseOutPutTypeModels
@{
	//팝업 형식 레이아웃 별도 지정
	Layout = "~/Views/Shared/_PopLayout.cshtml";
}

			<article class="col-sm-12 col-md-12 col-lg-12" style="height:400px; padding:0px;">
				<div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
					<header role="heading">
						<span class="widget-icon"> <i class="fa fa-search"></i> </span>
						<h2>출고 타입 추가 / 수정 </h2>
					</header>
					<div role="content">
						<div class="widget-body no-padding">
							@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "view_form", @class = "smart-form" }))
							{
								@Html.HiddenFor(model => model.act_key)
								@Html.HiddenFor(model => model.act_type)
								@Html.HiddenFor(model => model.Item.SEQNO)
								@Html.AntiForgeryToken()

								<fieldset>

									<!--국가명-->
									<div class="row">
										<label class="label col col-2">국가명</label>
										<section class="col col-10">
											<label class="select">
												@Html.DropDownList("schType", new SelectList(Model.nationArray, "opt_key", "opt_value", Model.Item.NATION_CODE), "선택", new { onchange = "setNATIONCODE(this.value)" }) <i></i>
												
											</label>
										</section>
									</div>
									<!--출고타입-->
									<div class="row">
										<label class="label col col-2">출고타입</label>
										<section class="col col-10">
											<label class="input">
												@Html.TextBoxFor(model => model.Item.RELEASE_NAME, new { @id = "RELEASE_NAME" })
											</label>
										</section>
									</div>
									<!--출고타입 코드-->
									<div class="row">
										<label class="label col col-2">출고타입 코드</label>
										<section class="col col-10">
											<label class="input">
												@Html.TextBoxFor(model => model.Item.RELEASE_CODE, new { @id = "RELEASE_CODE" })
												@Html.ValidationMessageFor(model => model.Item.RELEASE_CODE)
											</label>
										</section>
									</div>
									<!--출고타입 설명-->
									<div class="row">
										<label class="label col col-2">출고타입 설명</label>
										<section class="col col-10">
											<label class="input">
												@Html.TextBoxFor(model => model.Item.MEMO, new { @id = "MEMO" })
											</label>
										</section>
									</div>
									<!--출고타입 기호-->
									<div class="row">
										<label class="label col col-2">출고타입 기호</label>
										<section class="col col-10">
											<label class="input">
												@Html.TextBoxFor(model => model.Item.DELV_CODE, new { @id = "DELV_CODE" })
											</label>
										</section>
									</div>
									


								</fieldset>

								}

						</div>
					</div>
				</div>
			</article>


@section pagespecific {
	<script type="text/javascript">
				function formSubmit() {
					$('#view_form').submit();
				}

				function setNATIONCODE(code) {
					//alert(tmp.text);
					$("#NATION_CODE").val(code);
					//$("#nation_name_tmp").val(name);
				}

	</script>

}


